<div class="card">
    <div class="container">
        <img src={{imageUrl}} class="image" height="100" width="100"/>
        <div class="text">
            <h1>{{topArtist}}</h1>
            <br/>
            <h1>{{topAlbum}}</h1>
        </div>
    </div>
</div>
<button onClick="createPlaylist()">Create Playlist</button>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous">
</script>

<script>
    const accessToken = sessionStorage.getItem('accessToken');
    $.post(
        '{{{host}}}' + '/top',
        {
            accessToken
        },
        (songsData, status) => {
            console.log(`Songs Data retrieved! Data: ${songsData}, Status: ${status}`);
        }
    );

    function createPlaylist(){
        $.post(
        '{{{host}}}' + '/createPlaylist',
        {
            accessToken
        },
        (data, status) => {
            console.log(`Playlist Created! Data: ${data}, Status: ${status}`);
        }
    );
    }
</script>