{{!-- <div class="card">
    <div class="container">
        <img src={{imageUrl}} class="image" height="100" width="100"/>
        <div id="main" class="text">
            <h1 id="topArtists">{{topArtist}}</h1>
            <br/>
            <h1>{{topAlbum}}</h1>
        </div>
    </div>
</div> --}}

<button onClick="createPlaylist()">Create Playlist</button>

<div>
    <h1>Top Songs</h1>
    <div id='topSongs'></div>
</div>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous">
</script>

<!-- Main -->
<script>
    function displayTracks(topTracks){
        $(document).ready(function(){
            topTracks.forEach(track => {
                const { album, artists, id, name } = track;
                const { name: albumName } = album;
                const albumArt = album.images[1];

                $("#topSongs").append('<div id='+id+'></div>');
                $(`#${id}`).append('<p>Name: '+name+' | Album: '+albumName+'</p>');
                artists.forEach(artist => {
                    $(`#${id}`).append('<p>Artist: ' +artist.name+ '</p>')
                });
                $(`#${id}`).append(`<img src=${albumArt.url} height=75/>`);
            });
        });
    }
</script>

<script>
    const accessToken = sessionStorage.getItem('accessToken');

    getTopTrackData();
    async function getTopTrackData() {
        try {

            const { items: topTracks } = await $.post('{{{host}}}' + '/top', { accessToken });
            
            displayTracks(topTracks);

            const allTrackFeatures = await getAllTrackFeatures(topTracks);
            console.log(allTrackFeatures)
            analyzeTrackFeatures(allTrackFeatures);

        }catch(err) {
            console.log(err);
            $("#main").append('<div>Please refresh page</div>');
        }
    }

</script>

<script>
    async function getAllTrackFeatures(tracks) {
        let trackIds = [];
        tracks.forEach(track => trackIds.push(track.id));

        try {
            const { audio_features: audioFeatures } = await $.post('{{{host}}}' + '/get-multi-audio-features',
            {
                accessToken,
                trackIds
            });

            let trackFeatures = [];
            audioFeatures.forEach((audioFeature, i) => {
                const { acousticness, danceability, energy, id, liveness, loudness, speechiness, tempo, valence } = audioFeature;
                const { explicit, popularity } = tracks[i];

                const trackFeature = {
                    acousticness,
                    danceability,
                    energy,
                    id,
                    liveness,
                    loudness,
                    speechiness,
                    tempo,
                    valence,
                    explicit,
                    popularity
                };
                trackFeatures.push(trackFeature);
            });

            return trackFeatures;

        }catch(err) {
            console.log(err);
        }
    }

    async function analyzeTrackFeatures(trackFeatures) {
        try{

            {{!-- trackFeatures.forEach(trackFeature => {
                // Data for future analysis / queries

            }); --}}
        }catch(err) {
            console.log(err);
        }
        
    }
</script>

<script>
    function createPlaylist(){
        $.post(
        '{{{host}}}' + '/createPlaylist',
        {
            accessToken
        },
        (data, status) => {
            console.log(`Playlist Created! Data: ${data}, Status: ${status}`);
        }
    );
    }
</script>